# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Copyrighted pack content (e.g. Kal-Arath tables from the user's book): local only.
packs/kal-arath/*
!packs/kal-arath/pack.yaml
!packs/kal-arath/README.md
